@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
	width: 100%;
	min-height: 100vh;
	position: fixed; /* Änderung von fixed zu absolute */
	display: flex;
	justify-content: center;
	padding: 8rem 1.5rem 10rem 1.5rem;
	pointer-events: none;
  }

.main:before {
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.main:after {
  content: "";
  background-image: url("/assets/images/grid.svg");
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}

.gradient {
	height: fit-content;
	z-index: 3;
	width: 100%;
	max-width: 40rem;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}

@media screen and (max-width: 40rem) {
  .main {
    padding: 0;
	width: 100%;
  }
}

/* Tailwind Styles */

.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
}

.black_btn {
  @apply rounded-full border border-black bg-black py-1.5 px-5 text-white transition-all hover:bg-white hover:text-black text-center text-sm font-inter flex items-center justify-center;
}

.outline_btn {
  @apply rounded-full border border-black bg-transparent py-1.5 px-5 text-black transition-all hover:bg-black hover:text-white text-center text-sm font-inter flex items-center justify-center;
}

.head_text {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] text-black sm:text-6xl;
}

.orange_gradient {
  @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}

.green_gradient {
  @apply bg-gradient-to-r from-green-400 to-green-500 bg-clip-text text-transparent;
}

.black_gradient {
	@apply bg-gradient-to-r from-black to-orange-900 bg-clip-text text-transparent;
  }

.blue_gradient {
  @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}

.white_gradient {
	@apply mt-5 text-lg sm:text-xl max-w-2xl;
  --white-gradient-color: linear-gradient(to right, white, lightgray);
  text-fill-color: transparent;
}

.desc {
  @apply mt-5 text-lg text-gray-600 sm:text-xl max-w-2xl;
}

.search_input {
  @apply block w-full rounded-md border border-gray-200 bg-white py-2.5 font-satoshi pl-5 pr-12 text-sm shadow-lg font-medium focus:border-black focus:outline-none focus:ring-0;
}

.copy_btn {
  @apply w-7 h-7 rounded-full bg-white/10 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur flex justify-center items-center cursor-pointer;
}

.glassmorphism {
  @apply rounded-xl border border-gray-200 bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-5;
}

.prompt_layout {
  @apply space-y-6 py-8 sm:columns-2 sm:gap-6 xl:columns-3;
}

/* Feed Component */
.feed {
  @apply mt-16 mx-auto w-full max-w-xl flex justify-center items-center flex-col gap-2;
}

/* Form Component */
.form_textarea {
  @apply w-full flex rounded-lg h-[200px] mt-2 p-3 text-sm text-gray-500 outline-0;
}

.form_input {
  @apply w-full flex rounded-lg mt-2 p-3 text-sm text-gray-500 outline-0;
}

/* Nav Component */
.logo_text {
  @apply max-sm:hidden font-satoshi font-semibold text-lg text-black tracking-wide;
}

.dropdown {
  @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-white min-w-[210px] flex flex-col gap-2 justify-end items-end;
}

.dropdown_link {
  @apply text-sm font-inter text-gray-700 hover:text-gray-500 font-medium;
}

/* PromptCard Component */
.prompt_card {
  @apply flex-1 break-inside-avoid rounded-lg border border-gray-300 bg-white/20 bg-clip-padding p-6 pb-4 backdrop-blur-lg backdrop-filter md:w-[360px] w-full h-fit;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.height-screen-helper {
  height: calc(100vh - 80px);
}

*:focus {
  @apply outline-none ring-2 ring-pink-500 ring-opacity-50;
}

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  font-feature-settings: 'case' 1, 'rlig' 1, 'calt' 0;
}

html,
body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica Neue',
    'Helvetica', sans-serif;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
    overflow-x: hidden;
  @apply text-white bg-zinc-800 antialiased;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
  overflow-y: auto;
}

*, *:after, *:before {
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

*,
*:after,
*:before {
	box-sizing: border-box;
}

:root {
	--color-text-primary: #1c2a38;
	--color-text-secondary: #8A8F98;
	--color-text-alert: #d72641;
	--color-text-icon: #dbdade;
	--color-bg-primary: #fff;
	--color-bg-secondary: #f3f5f9;
	--color-bg-alert: #fdeaec;
	--color-theme-primary: #623ce6;
}


button,
input,
select,
textarea {
	font: inherit;
}

.containerFootballScore {
	margin-top: 20px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.containerFootballScore > * + * {
	margin-top: 55px;
}

.match {
	background-color: var(--color-bg-primary);
	display: flex;
	flex-direction: column;
	min-width: 600px;
	border-radius: 10px;
	box-shadow: 0 0 2px 0 #959494, 0 4px 4px 0 #636262;
	font-family: "Inter", sans-serif;
	line-height: 1.5;
	color: var(--color-text-primary);
	background-color: var(--color-bg-secondary);
}

.match-header {
	display: flex;
	padding: 16px;
	border-bottom: 2px solid #bababa;
}

.match-tournament {
	display: flex;
	font-weight: 600;
	margin-left: auto;
	margin-right: auto;
}

.match-actions {
	display: flex;
	margin-left: auto;
}

.match-tournament img {
	width: 20px;
	margin-right: 12px;
}

.match-content {
	display: flex;
	position: relative;
}

.columnScore {
	padding: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(100%/3);
}


.team {
	display: flex;
	flex-direction:column;
	align-items: center;
	
}

.team-logo {
	width: 100px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: var(--color-bg-primary);
	box-shadow: 0 4px 4px 0 #863d3d,
            0 0 0 15px #ececec9e;
}

.team-logo img {
	width: 50px;
}

.team-name {
	text-align:center;
	margin-top: 24px;
	font-size: 20px;
	font-weight: 600;
}

.match-details {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.match-date, .match-referee {
	font-size: 14px;
	color: var(--color-text-secondary);
}

.match-date strong,
.match-referee strong {
	color: var(--color-text-primary);
}

.match-score {
	margin-top: 12px;
	display: flex;
	align-items: center;
}

.match-score-number {
	font-size: 48px;
	font-weight: 600;
	line-height: 1;
}

.match-score-number--leading {
	color: var(--color-theme-primary);
}

.match-score-divider {
	font-size: 28px;
	font-weight: 700;
	line-height: 1;
	color: var(--color-text-icon);
	margin-left: 10px;
	margin-right: 10px;
	
}

.match-time-lapsed {
	color: #DF9443;
	font-size: 14px;
	font-weight: 600;
	margin-top: 8px;
}

.match-bet-options {
	display: flex;
	margin-top: 14px;
	padding-bottom: 12px;
}


.match-bet-option {
	margin-left: 4px;
	margin-right: 4px;
	border: 1px solid var(--color-text-icon);
	background-color: #F9F9F9;
	border-radius: 2px;
	color: var(--color-text-secondary);
	font-size: 14px;
	font-weight: 600;
	padding: 4px 8px;
}

.match-bet-place {
	position: absolute;
	bottom: -16px;
	left: 50%;
	transform: translateX(-50%);
	border: none;
	background-color: var(--color-theme-primary);
	border-radius: 6px;
	padding: 10px 48px;
	font-size: 14px;
}

@media only screen and (max-width: 600px) {
	.match {
		min-width: auto; 
	}

	.columnScore {
		padding: 16px; 
		width: 100%; 
	}

	.team-logo {
		width: 80px; 
		height: 80px;
		box-shadow: 0 4px 4px 0 #863d3d,
	            0 0 0 10px #ececec9e;
	}

	.team-logo img {
		width: 40px; 
	}

	.team-name {
		margin-top: 12px; 
		font-size: 18px; 
	}

	.match-date,
	.match-referee {
		font-size: 12px; 
	}

	.match-score-number {
		font-size: 32px; 
	}

	.match-score-divider {
		font-size: 16px; 
		margin-left: 6px; 
		margin-right: 6px; 
	}

	.match-time-lapsed {
		font-size: 12px; 
		margin-top: 4px; 
	}

	.match-bet-option {
		margin-left: 2px; 
		margin-right: 2px;
		font-size: 12px; 
		padding: 2px 6px; 
	}

	.match-bet-place {
		bottom: -12px;
		padding: 8px 24px; 
		font-size: 12px; 
	}
}


.buttonSubscribe {
	--c: #e3e3e3; /* text color */
	
	background: 
	  linear-gradient(90deg, #0000 33%, #fff5, #0000 67%) var(--_p,100%)/300% no-repeat,
	  #e97d02a3; /* background color */
	color: #0000;
	border: none;
	transform: perspective(500px) rotateY(calc(20deg*var(--_i,-1)));
	text-shadow: 
	  calc(var(--_i,-1)* 0.08em) -.01em 0   var(--c),
	  calc(var(--_i,-1)*-0.08em)  .01em 2px #0004;
	outline-offset: .1em;
	transition: 0.3s;
  }

  .buttonSubscribe:hover,
  .buttonSubscribe:focus-visible {
	--_p: 0%;
	--_i: 1;
  }
  
  .buttonSubscribe:active {
	text-shadow: none;
	color: var(--c);
	box-shadow: inset 0 0 9e9q #0005;
	transition: 0s;
  }
  
  .buttonSubscribe {
	font-family: system-ui, sans-serif;
	font-weight:bold;
	font-size: 4rem;
	margin-top: 40px;
	cursor: pointer;
	padding: .1em .3em;
  }


